<div id="special-products-table">
  <table class="table">
  <% @special_products.each do |special_product| %>
    <tr>
      <th><%= special_product.description %></th>
      <th><%= special_product.inventory_code %></th>
      <th><%= special_product.product_code %></th>
      <%= bootstrap_form_for special_product, url: admin_update_url do |f| %>
      <th><button type="button" name="button" class="btn btn-primary edit-product">Edit</button></th>
      <% end %>
      <%= bootstrap_form_for special_product, url: admin_delete_url do |f| %>
      <th><button type="button" name="button" class="btn btn-primary delete-product">Delete</button></th>
      <% end %>
    </tr>
  <% end %>
  </table>
</div>
<div id="inventory-products-table">
  <table class="table">
  <% @inventory_products.each do |inventory_product| %>
  <tr>
    <th><%= inventory_product.description %></th>
    <th><%= inventory_product.inventory_code %></th>
    <th><%= inventory_product.product_code %></th>
    <%= bootstrap_form_for inventory_product, url: admin_update_url do |f| %>
    <th><button type="button" name="button" class="btn btn-primary edit-product">Edit</button></th>
    <% end %>
    <%= bootstrap_form_for inventory_product, url: admin_delete_url do |f| %>
    <th><button type="button" name="button" class="btn btn-primary delete-product">Delete</button></th>
    <% end %>
  </tr>
  <% end %>
  </table>
</div>
