<%= bootstrap_form_for @user_product, url: product_user_path do |f| %>
  <% @users.each do |user| %>
  <table>
    <tr>
      <th>
        <%= user.email %>
      </th>
      <th><%= f.radio_button :user_id, user.id %></th>
    </tr>
  </table>
  <% end %>

  <div id="special-products-table">
    <%= render :partial => "special-table", :locals=>{:f=>f} %>
  </div>
  <%= f.submit "Add special products to users", class: "btn btn-primary" %>
<% end %>
