<h1>I'm the new admin page</h1>

<h3>Select a user</h3>

<%= form_tag admin_new_path, :method => 'get', :id => "users_search" do %>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
</p>
<% end %>

<%= form_tag admin_new_path, :method => 'get', :id => "special_search" do %>
<p>
  Select Items
  <%= text_field_tag :searchspecial, params[:searchspecial] %>
  <%= submit_tag "Search", :name => nil %>
</p>
<% end %>
<div id="user-list">
  <%= render :partial => "users" %>
</div>
<div id="special-list">
  <%= render :partial => "special" %>
</div>
