<h1>I'm the new admin page</h1>

<%= @user.email %>

<%= bootstrap_form_for @special_products, url: product_user_path do |f| %>
  <% @special_products.each do |special_product| %>
  <table>
    <tr>
      <th><%= special_product.description %></th>
      <th><%= f.check_box :special_products, value: special_product.id %></th>
    </tr>
  </table>
  <% end %>
<%= will_paginate @special_products %>
<%= f.submit "Add special products to users", class: "btn btn-primary" %>
<% end %>
