<h1 class="products-title">Products: </h1><br><br>
<div id="products">
  <table class="table">
  <% @special_products.each do |special_product| %>
      <tr>
        <th class="product-name"><%= special_product.description %></th>
        <%= bootstrap_form_for(@order_item) do |f| %>
          <th><%= f.number_field :quantity, value: 1, min: 1 %></th>
          <%= f.hidden_field :special_product_id, value: special_product.id %>
          <th class="products-button"><%= f.submit "Add to Cart", class: "btn btn-primary" %></th>
          <% end %>
      </tr>
  <% end %>
  <% @inv_products.each do |inv_product| %>
      <tr>
        <th class="product-name"><%= inv_product.description %></th>
        <%= bootstrap_form_for(@order_item) do |f| %>
          <th><%= f.number_field :quantity, value: 1, min: 1 %></th>
          <%= f.hidden_field :inventory_product_id, value: inv_product.id %>
          <th><%= f.submit "Add to Cart", class: "btn btn-primary" %></th>
        <% end %>
      </tr>
  <% end %>
  </table>
</div>
