<h1>Order Index</h1>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<h1>Search</h1>
<%= form_tag order_index_path, :method => 'get', :id => "products_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
  </p>
  <p>
    Product Catagory:
    <%= check_box_tag :product_code, 'C', params[:product_code] == 'C' ? true : false, class: "other-button checkbox" %>
    <%= label_tag(:product_code, "Cleaning Supplies") %>
    <%= check_box_tag :product_code, 'D', params[:product_code] == 'C' ? true : false, class: "other-button checkbox" %>
    <%= label_tag(:product_code, "Dairy") %>
    <%= check_box_tag :product_code, 'F', params[:product_code] == 'F' ? true : false, class: "other-button checkbox" %>
    <%= label_tag(:product_code, "Flavoured Syrup") %>
    <%= check_box_tag :product_code, 'FT', params[:product_code] == 'FT' ? true : false, class: "coffee-button checkbox" %>
    <%= label_tag(:product_code, "Fair Trade Coffee") %>
    <%= check_box_tag :product_code, 'R', params[:product_code] == 'R' ? true : false, class: "coffee-button checkbox" %>
    <%= label_tag(:product_code, "Flavoured Coffee/Non Fair-Trade") %>
    <%= check_box_tag :product_code, 'H', params[:product_code] == 'H' ? true : false, class: "other-button checkbox" %>
    <%= label_tag(:product_code, "Chocolate") %>
    <%= check_box_tag :product_code, 'P', params[:product_code] == 'P' ? true : false, class: "other-button checkbox" %>
    <%= label_tag(:product_code, "Papper Products") %>
    <%= check_box_tag :product_code, 'S', params[:product_code] == 'S' ? true : false, class: "other-button checkbox" %>
    <%= label_tag(:product_code, "Sundries") %>
    <%= check_box_tag :product_code, 'SU', params[:product_code] == 'SU' ? true : false, class: "other-button checkbox" %>
    <%= label_tag(:product_code, "Sugar") %>
    <%= check_box_tag :product_code, 'T', params[:product_code] == 'T' ? true : false, class: "other-button checkbox" %>
    <%= label_tag(:product_code, "Tea") %>
  </p>
  <p id="coffee-hidden">
    More defined search:
    <%= check_box_tag :def_search, '2oz', params[:def_search] == '2oz' ? true : false, class: "hidden-button" %>
    <%= label_tag(:def_search, "2oz coffee") %>
    <%= check_box_tag :def_search, '2.25oz', params[:def_search] == '2.25oz' ? true : false, class: "hidden-button" %>
    <%= label_tag(:def_search, "2.25oz coffee") %>
    <%= check_box_tag :def_search, '2.5oz', params[:def_search] == '2.5oz' ? true : false, class: "hidden-button" %>
    <%= label_tag(:def_search, "2.5oz coffee") %>
    <%= check_box_tag :def_search, '5lbs', params[:def_search] == '5lbs' ? true : false, class: "hidden-button" %>
    <%= label_tag(:def_search, "5lbs coffee") %>
  </p>
  <p>
    <%= submit_tag "Search", :description => nil %>
  </p>
<% end %>

<h1>list of all products</h1>
<div id="products">
  <% @special_products.each do |special_product| %>
    <table>
      <tr>
        <th><%= special_product.description %></th>
        <%= bootstrap_form_for(@order_item) do |f| %>
          <th><%= f.number_field :quantity, value: 1, min: 1 %></th>
          <%= f.hidden_field :special_product_id, value: special_product.id %>
          <th><%= f.submit "Add to Cart", class: "btn btn-primary" %></th>
          <% end %>
      </tr>
    </table>
  <% end %>
  <% @inv_products.each do |inv_product| %>
    <table>
      <tr>
        <th><%= inv_product.description %></th>
        <%= bootstrap_form_for(@order_item) do |f| %>
          <th><%= f.number_field :quantity, value: 1, min: 1 %></th>
          <%= f.hidden_field :inventory_product_id, value: inv_product.id %>
          <th><%= f.submit "Add to Cart", class: "btn btn-primary" %></th>
        <% end %>
      </tr>
    </table>
  <% end %>
  <%= will_paginate @inv_products %>
</div>
