<h1>Order Index</h1>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>

<h1>list of all products</h1>
<% @inv_products.each do |inv_product| %>
  <ul>
    <li>
      <%= inv_product.description %>
      <%= bootstrap_form_for(@order_item) do |f| %>
        <%= f.number_field :quantity, value: 1, min: 1 %>
        <%= f.hidden_field :inventory_product_id, value: inv_product.id %>
        <%= f.submit "Add to Cart", class: "btn btn-primary" %>

      <% end %>
    </li>
  </ul>
<% end %>
