<h1>Order Index</h1>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<h1>Search</h1>
<%= form_tag order_index_path, :method => 'get', :id => "products_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
  </p>
  <p>
    Product Catagory:
    <%= radio_button_tag :product_code, 'C', params[:product_code] == 'C' ? true : false %>
    <%= label_tag(:product_code, "Cleaning Supplies") %>
  </p>
  <p>
    <%= submit_tag "Search", :description => nil %>
  </p>
<% end %>

<h1>list of all products</h1>
<div id="products">
  <%= render 'products' %>
</div>
